.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
      width: 20%;
  }
  
  .right {
    right: 0;
    width: 80%;
  }
  
  .centeredLeft {
    position: absolute;
    top: 30%;
    left: 20%;
    /* transform: translate(-50%, -50%);  */
    /*text-align: center; */
  }
  .leftTop{
    position: absolute;
    top: 10%;
    left: 20%;
  }

  .centeredRight {
    position: absolute;
    top: 10%;
    left: 0%;
    /* transform: translate(-50%, -50%);  */
    /*text-align: center; */
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }
.restaurantName {
    font-size: 28px;
    line-height: 36px;
    font-family: Poppins,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 900;
    word-wrap: break-word!important;
    word-break: break-word!important;
    overflow-wrap: break-word!important;
    color: #2b273c;
}
.restaurantdetails{
    width: 50%;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2b273c;
}
.restaurantdescription {
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.card{
  width: 18rem;
}
