.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
      width: 20%;
  }
  
  .right {
    right: 0;
    width: 80%;
  }
  
  .centeredLeft {
    position: absolute;
    top: 30%;
    left: 20%;
    /* transform: translate(-50%, -50%);  */
    /*text-align: center; */
  }
  .leftTop{
    position: absolute;
    top: 10%;
    left: 20%;
  }

  .centeredRight {
    position: absolute;
    top: 10%;
    left: 0%;
    /* transform: translate(-50%, -50%);  */
    /*text-align: center; */
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }
